PORT=5000
MONGO_URI=mongodb://localhost:27017/network_config_tool

SCAN_SUBNET=192.168.1.0/24
SSH_USERNAME=admin
SSH_PASSWORD=yourpassword
SSH_PORT=22
SSH_TIMEOUT=10000

CORS_ORIGIN=http://localhost:5173
